/* global styles */
html,
body {
    font-family: Plus Jakarta Sans;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    width: 30rem;
}

a,
button {
    all: unset;
    cursor: pointer;
}

/* hero */
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem;
    padding-top: 8rem;
    /* background-color: red; */
    height: 80vh;
}

.hero h1 {
    /* background-color: blue; */
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.hero h1 span {
    color: #03cb9d;
}

.hero div {
    gap: 1rem;
}

.hero div p {
    margin: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 1rem;
    width: 90%;
    text-align: justify;
}


/* hero buttons */
.btn-cont {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* background-color: aliceblue; */
    animation-delay: 1s;
}

.btn1,
.btn2 {
    all: unset;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #03cb9d;
    color: white;
    padding: 1rem 2rem;
    /* width: fit-content; */
    width: 50%;
    text-align: center;
    border-radius: 0.4rem;
}

.btn2 {
    background-color: white;
    border: 3px dashed #03cb9d;
    color: black;
    padding: 0.9rem 2rem;
}

/* nav */
nav {
    z-index: 100;
    padding: 0.5rem 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    backdrop-filter: blur(7px);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

nav a {
    font-size: 0.875rem;
    font-weight: 600;
}

nav span {
    font-family: Tiny5;
    color: #03cb9d;
    margin: 0;
    font-size: 2.9rem;
    margin-bottom: 0.3rem;
}

nav h1 {
    margin: 0;
    font-size: 1.8rem;
}

nav img {
    width: 2rem;
}

nav .btn1 {
    width: fit-content;
    padding: 0.7rem 2rem;
}

.link-cont {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.active {
    color: #03cb9d;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* home contact */
.home-contact {
    padding: 3rem 7rem;
    text-align: center;
}

.home-contact h1 {
    margin: 0;
}

.home-contact p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
}


/* stats */
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7rem;
    gap: 2rem;
    text-align: center;
    flex-wrap: wrap;
}

.stats div {
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    flex: 1 1 5rem;
}

.stats h1 {
    margin: 0;
}

.stats p {
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}

/* services */
.services {
    background-color: rgba(0, 0, 0, 0.01);
    min-height: 100vh;
    padding: 3rem 7rem;
}

.services h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin: auto;
    width: 50%;
}

.services span {
    color: #03cb9d;
}

.services-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.web,
.brand,
.ui {
    width: 3rem;
    height: 3rem;
    background-color: rgba(3, 203, 157, 0.1);
    padding: 1rem;
    border-radius: 5rem;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.web {
    background-image: url('/images/web-dev.png');
}

.brand {
    background-image: url('/images/brand.png');
}

.ui {
    background-image: url('/images/ui.png');
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex: 1 1 15rem;
    border-radius: 0.5rem;
    height: 15rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: rotate(-3deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service h1 {
    font-size: 1.4rem;
    margin: 0;
    margin-top: 1rem;
}

.service p {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

/* projects */
.projects {
    min-height: 100vh;
    padding: 3rem 7rem;
}

.projects h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin: auto;
}

.projects h1 span {
    color: #03cb9d;
}

.projects .img-cont {
    height: 20rem;
    border-radius: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.5s ease-in-out;
}

.ecom {
    background-image: url('/images/ecom.png');
}

.health {
    background-image: url('/images/health.png');
}

.dashboard {
    background-image: url('/images/dashboard.png');
}

.branding {
    background-image: url('/images/branding.webp');
}

.proj-cont {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 2rem;
}

.desc {
    padding-left: 1rem;
    border-left: 5px solid #03cb9d;
}

.desc p {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.7rem;
}



.projects .img-cont:hover {
    background-size: 110%;
}

/* contact */
.contact {
    padding: 7rem 7rem;
    background-color: rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 65vh;
}

.contact h1 {
    font-size: 2rem;
    font-weight: 900;
    margin: auto;
}

.contact img {
    width: 1.5rem;
}

.contact input,
textarea {
    all: unset;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.contact-form button {
    width: 100%;
    box-sizing: border-box;
}

.contact p {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
}

/* footer */
footer {
    padding: 3rem 7rem;
    min-height: 50vh;
    background-color: black;
    color: white;
}

footer img {
    width: 1.5rem;
}

footer .grids {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
}

footer .logo {
    font-family: Tiny5;
    color: #03cb9d;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 5px;
}

.logo-cont h1 {
    margin: 0;
    font-size: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
}

footer h2 {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    margin-bottom: 1rem;
}

.col {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.col a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
}

.col p {
    margin: 0;
}

footer .about {
    width: 80%;
}

/* about us */

.about-us {
    padding: 3rem 7rem;
    gap: 3rem;
}


.about-us p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    text-align: center;
    margin: auto;
}

.about-us h1 {
    font-weight: 900;
    text-align: center;
}

.about-us span {
    color: #03cb9d;
}

.about-us img {
    border-radius: 2rem;
    border: 10px dashed #03cb9d;
    width: 50%;
}

.about-us a {
    margin-top: 2rem;
}

/* icons */
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.icons img {
    width: 2rem;
}

footer hr {
    margin: 3rem 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
    text-align: center;
    margin: 0;
}

footer a {
    width: fit-content;
}

footer a:hover {
    color: #03cb9d;
}


/* mobile */
@media (max-width: 600px) {

    .hero,
    nav,
    .contact,
    footer,
    .projects,
    .services,
    .stats,
    .about-us,
    .home-contact {
        padding: 0 2rem;
        margin: 0;
        height: fit-content;
    }

    .home-contact .btn1 {
        padding: 1rem 2rem;
    }

    .services-cont {
        margin: 3rem 0;
    }

    .projects,
    .contact,
    .home-contact {
        margin: 5rem 0;
    }

    .contact {
        margin-top: 9rem;
    }

    nav {
        box-sizing: border-box;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .link-cont {
        width: 100%;
        justify-content: space-between;
        margin: 1rem 0;
    }

    .hero {
        flex-direction: column;
        padding-top: 10rem;
    }

    .hero h1 {
        font-size: 1.85rem;
    }

    .hero p,
    .hero .btn-cont {
        width: 100%;
    }

    .btn1,
    .btn2 {
        padding-left: 0;
        padding-right: 0;
    }

    .proj-cont {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact {
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }

    .contact h1 {
        text-align: center;
    }

    .services {
        padding-top: 3rem;
    }

    .services h2 {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    nav .btn1 {
        display: none;
    }

    footer .grids {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .about {
        grid-column: span 2;
        margin-bottom: 2rem;
    }

    .about p {
        width: 20rem;
    }

    .copyright {
        padding-bottom: 3rem;
    }

    .stats {
        margin-bottom: 3rem;
    }

    .about-us {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .about-us a {
        padding: 1rem 3rem;
        text-align: center;
    }

    .about-us img {
        width: 100%;
        box-sizing: border-box;
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 900px) {

    .hero,
    nav,
    .contact,
    footer,
    .projects,
    .services {
        padding: 0 2rem;
        margin: 0;
        height: fit-content;
    }

    .stats {
        margin-bottom: 3rem;
    }

    .about-us {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .about-us a {
        padding: 1rem 3rem;
        text-align: center;
    }

    .about-us img {
        width: 100%;
        box-sizing: border-box;
    }

    .hero {
        flex-direction: column;
        padding-top: 10rem;
    }

    .proj-cont {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact {
        flex-direction: column;
    }

    footer .grids {
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .about {
        grid-column: span 4;
        margin-bottom: 2rem;
    }

    .about p {
        width: 20rem;
    }

    .copyright {
        padding-bottom: 3rem;
    }

    .services h2 {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .projects,
    .contact {
        margin: 5rem 0;
    }

    .contact h1 {
        text-align: center;
    }

    .contact {
        gap: 3rem;
        padding: 2rem;
    }

    .service {
        min-width: fit-content;
    }
}